VITE_CONTACT_FORM_ENDPOINT=https://formsubmit.co/ajax/nyinfraservices@gmail.com
VITE_RESEND_API_KEY=your_resend_api_key_here
VITE_RESEND_FROM_EMAIL=onboarding@resend.dev
VITE_RESEND_TO_EMAIL=nyinfraservices@gmail.com
